$tiny: 400px;
$small: 600px;
$medium: 800px;
$large: 1000px;

.fav-items-container {
  .noFavs {
    grid-column: 1 / -1;
  }

  .fav-items-searchbar {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .favorites-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    justify-content: center;
    align-items: center;

    .fav-item-card {
      border: 3px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      border-radius: 1em;
      margin: 0 auto;
      box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

      .fav-item-card-img {
        width: 90%;
        margin: 0 auto;
      }

      .remove-button {
        margin: 3%;
      }
    }
  }
}

@media (min-width: $small) {
  .fav-items-container {
    .favorites-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: $medium) {
  .fav-items-container {
    .favorites-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: $large) {
  .fav-items-container {
    .favorites-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1em;
      justify-content: center;
      align-items: center;
    }
  }
}
