body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: switchBackgroundColor infinite 10s;
  @keyframes switchBackgroundColor {
    0% {
      background-color: #282e33;
    }
    50% {
      background-color: #c9d1d7;
    }
    100% {
      background-color: #282e33;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
